%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%p-style {
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
}
