$maxSmall: "(max-width: 767px)";
$minMobile: "(min-width: 768px)";
$maxMobile: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$minExtraLarge: "(min-width: 1400px)";

// Colors
$redColor: #e2494c;
$grayColor: #d9d9d9;
